<h2 ng-bind="count"></h2> 

<table st-table="rowCollection" class="table">
  <thead>
    <tr>
      <th st-sort="title">Unpublished Articles</th>
      <th st-sort="author">Author</th>
      <th st-sort="words">Words</th>
      <th st-sort="publish_at">Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
      <td>{{row.title | uppercase}}</td>
      <td>{{row.profile.first_name}} {{row.profile.last_name}}</td>
      <td>{{row.words | number}}</td>
      <td>{{row.publish_at | date}}</td>
    </tr>
  </tbody>
</table>

<button class="more btn btn-primary btn-block" data-ng-click="loadMore($event)">Load More</button>